output.elasticsearch:
    hosts: ["http://{{ hostvars['el-instance']['ansible_facts']['default_ipv4']['address'] }}"]
setup.kibana:
    host: "http://{{ hostvars['ki-instance']['ansible_facts']['default_ipv4']['address'] }}"
filebeat.config.modules.path: ${path.config}/modules.d/*.yml